@import "https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap";
@font-face{font-family:'agency-fb-regular';src:url('../fonts/AGENCYR.a28a90a7.TTF')}

$font : 'maven pro',sans-serif;

*{
  padding: 0;
  margin: 0;
}

body{
  background: #242735;
}

.container{
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.top{
  background: #000;
  padding: 0;
  .row{
    display: flex;
    align-items: center;
  }
  .logo{
    display: block;
    max-width: 84px;
    width: 100%;
    margin-right: auto;
    img{
      width: 100%;
    }
  }

  .btn{
    display: flex;
    align-items: center;
    background: #000;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 180px;
    width: 100%;
    height: 50px;
    img{
      display: block;
      margin-left: auto;
      width: 20px;
    }
    b{
      font-family: $font;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      display: block;
      margin-left: 10px;
      margin-right: auto;
    }
  }

  .my-bcoin{
    background: #000;
    display: none;
    .address{
      margin-left: 10px;
      margin-right: auto;
    }
    span{
      font-family: $font;
      font-size: 11px;
      font-weight: bold;
      color: #ffd998;
      display: block;
      i{
        font-style: normal;
        max-width: 5ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }
    }
    p{
      font-family: $font;
      font-size: 11px;
      color: #7a81a4;
      display: block;
      margin: 0;
      max-width: 12ch;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .my-account{
    background: #3a3f54;
    display: none;
  }

  .connect{
    background: #ff973a;
  }
}

.volume{
  display: block;
  padding: 25px 0;
  margin-top: 100px;
  .row{
    box-sizing: border-box;
    border: 2px solid #343849;
  }
  .tabs{
    display: flex;
    border-bottom: 2px solid #343849;
    .tab{
      padding: 20px 30px;
      position: relative;
      cursor: pointer;
      b{
        font-family: $font;
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        text-align: center;
      }
      &:after{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #ff973a;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all .2s linear;
      }
      &.act{
        &:after{
          height: 5px;
          transition: all .2s linear;
        }
      }
    }
  }
  .content{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    .total{
      display: flex;
      align-items: center;
      max-width: 250px;
      width: 100%;
      margin: 0 auto;
      img{
        max-width: 50px;
        width: 100%;
        display: block;
      }
      p{
        margin-left: 10px;
        i{
          font-family: $font;
          font-size: 12px;
          color: #fff;
          font-style: normal;
        }
        b{
          font-family: $font;
          font-size: 28px;
          color: #fff;
          font-style: normal;
          display: block;
        }
      }
    }
  }
}

.staking{
  display: block;
  padding: 25px 0;
  .row{
    display: flex;
    .col{
      padding: 20px 30px;
      box-sizing: border-box;
      border: 2px solid #343849;
      &:nth-child(2){
        margin: 0 auto;
      }
      img{
        width: 60px;
        display: block;
        margin: 0 auto 15px;
      }
      h2{
        font-family: $font;
        font-size: 23px;
        color: #fff;
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
      }
      table{
        td{
          width: 100px;
          font-family: $font;
          font-size: 13px;
          color: #fff;
          padding: 5px 0;
          &:last-child{
            text-align: end;
          }
        }
      }
      .btn-investors,
      .btn-holders,
      .btn-lovers{
        display: none;
      }
      .buttons{
        align-items: center;
        button{
          margin-top: 10px;
          padding: 10px 30px;
          box-sizing: border-box;
          font-family: $font;
          font-size: 18px;
          color: #fff;
          background: #ff973a;
          border: 0;
          display: block;
          cursor: pointer;
          font-weight: bold;
          &:last-child{
            background: #3a3f54;
            font-weight: normal;
            cursor: no-drop;
          }
        }
      }
    }
  }
}

.modal{
  display: none;
  padding: 20px;
  background: #fff;
  max-width: 400px;
  width: 100%;
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 2px solid #343849;
  z-index: 2;
  h2{
    font-family: $font;
    font-size: 23px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
  }
  #depositAmount{
    display: block;
    padding: 10px;
    box-sizing: border-box;
    font-family: $font;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin: 0 auto 10px;
    width: 100%;
  }
  b{
    font-family: $font;
    font-size: 13px;
    color: #ff973a;
  }
  .balanceBNB{
    font-family: $font;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    max-width: 5ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    line-height: 0.8;
    margin-bottom: -2px;
  }
  hr{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    width: 100%;
    height: 1px;
    background: #eee;
  }
  button{
    margin: 10px auto;
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
    font-family: "maven pro",sans-serif;
    font-size: 18px;
    color: #fff;
    background: #ff973a;
    border: 0;
    display: block;
    cursor: pointer;
    font-weight: bold;
  }
  &.act{
    display: block;
  }
}
.overlay{
  display: none;
  background: #00000099;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  &.act{
    display: block;
  }
}

#WEB3_CONNECT_MODAL_ID{
  font-family: "maven pro",sans-serif;
}

@media screen and (max-width: 1080px){
    .container{
        max-width: 90%;
    }
}

@media screen and (max-width: 990px){
  .staking .row {
    display: block;
  }
  .staking .row .col:nth-child(2){
    margin: 25px auto;
  }
  table{
    width: 100%;
  }
  .buttons{
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    button{
      margin: 0 auto;
    }
  }
  .volume .content .total{
    zoom: .7;
  }
  .volume{
    margin-top: 0;
    padding-bottom: 0;
  }
}
